@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.cta {
    background-color: #383842;
    color: aliceblue;
    font-family: 'Satisfy', cursive;
    font-size: 22px;
    font-weight: 500;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.cta:hover {
    background-color: #E27B6A;
    color: #111;
    font-weight: 500;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }