<div class="container">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="../../assets/img/hero-bg.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700"
        height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Cosa troverai</h1>
      <p class="lead">
          Il nostro blog è ricco di contenuto scritto sia da esperti che persone comuni
          che vogliono condividere la propria esperienza con altre persone.
          <figure class="pt-3">
            <blockquote class="blockquote">
              <p>Una lettura al giorno toglie il dubbio di torno.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Qualcuno di famoso
            </figcaption>
          </figure>
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button [routerLink]="['/posts/']" type="button" class="btn btn-lg px-4 me-md-2 cta">Vai agli articoli</button>
      </div>
    </div>
  </div>
</div>
